n8n-workflows/03-data-processing-analytics.json
{
  "name": "Gap Analysis - Data Processing & Analytics Engine",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      },
      "id": "daily-trigger",
      "name": "Daily Processing Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 200]
    },
    {
      "parameters": {
        "operation": "getAll",
        "documentId": "={{ $env.RESPONSES_SHEET_ID }}",
        "sheetName": "SurveyResponses",
        "returnAll": true
      },
      "id": "get-all-responses",
      "name": "Get All Survey Responses",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [250, 100]
    },
    {
      "parameters": {
        "operation": "getAll",
        "documentId": "={{ $env.DEMOGRAPHICS_SHEET_ID }}",
        "sheetName": "Demographics",
        "returnAll": true
      },
      "id": "get-demographics",
      "name": "Get Demographics Data",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "getAll",
        "documentId": "={{ $env.SURVEY_CONFIG_SHEET_ID }}",
        "sheetName": "GapDefinitions",
        "returnAll": true
      },
      "id": "get-gap-definitions",
      "name": "Get Gap Definitions",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [250, 500]
    },
    {
      "parameters": {
        "jsCode": "const responses = $('Get All Survey Responses').all();\nconst demographics = $('Get Demographics Data').all();\nconst gapDefs = $('Get Gap Definitions').all();\n\n// Build demographics lookup\nconst demoMap = {};\nfor (const d of demographics) {\n  demoMap[d.json.username] = d.json;\n}\n\n// Build gap definitions lookup\nconst gapMap = {};\nfor (const g of gapDefs) {\n  gapMap[g.json.gapId] = g.json;\n}\n\n// Enrich responses with demographics\nconst enriched = responses.map(r => {\n  const demo = demoMap[r.json.username] || {};\n  const gapDef = gapMap[r.json.gapId] || {};\n  return {\n    json: {\n      ...r.json,\n      experience_years: Number(demo.experience_years) || 0,\n      org_type: demo.org_type || 'UNKNOWN',\n      current_status: demo.current_status || 'UNKNOWN',\n      sub_working_group: demo.sub_working_group || r.json.subWorkingGroup || 'UNKNOWN',\n      gapName: gapDef.name || r.json.gapId,\n      gapCategory: gapDef.category || 'Uncategorized',\n      gapFactor: gapDef.factor || 'General'\n    }\n  };\n});\n\nreturn enriched;"
      },
      "id": "enrich-data",
      "name": "Enrich Responses with Demographics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [550, 200]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.all();\n\n// --- LIKERT SCALE ANALYSIS ---\n// Group by gapId and compute NPS-like score\nconst gapScores = {};\nconst factorScores = {};\nconst surveyScores = {};\n\nfor (const item of data) {\n  const d = item.json;\n  const gapId = d.gapId;\n  const factor = d.gapFactor;\n  const surveyId = d.surveyId;\n  const score = Number(d.score);\n\n  // Gap-level aggregation\n  if (!gapScores[gapId]) {\n    gapScores[gapId] = { gapId, gapName: d.gapName, factor, category: d.gapCategory, scores: [], distribution: {1:0,2:0,3:0,4:0,5:0,6:0,7:0} };\n  }\n  gapScores[gapId].scores.push(score);\n  gapScores[gapId].distribution[score]++;\n\n  // Factor-level aggregation\n  if (!factorScores[factor]) {\n    factorScores[factor] = { factor, scores: [], distribution: {1:0,2:0,3:0,4:0,5:0,6:0,7:0} };\n  }\n  factorScores[factor].scores.push(score);\n  factorScores[factor].distribution[score]++;\n\n  // Survey-level aggregation for time tracking\n  const key = `${surveyId}::${gapId}`;\n  if (!surveyScores[key]) {\n    surveyScores[key] = { surveyId, gapId, gapName: d.gapName, scores: [] };\n  }\n  surveyScores[key].scores.push(score);\n}\n\n// NPS-like scoring: scores 6-7 = promoters (+), 4-5 = passive (0), 1-3 = detractors (-)\n// Weighted: 1=-3, 2=-2, 3=-1, 4=0, 5=0, 6=+1, 7=+2\nconst weights = {1: -3, 2: -2, 3: -1, 4: 0, 5: 0, 6: 1, 7: 2};\n\nfunction computeMetrics(scores, distribution) {\n  const n = scores.length;\n  const mean = scores.reduce((a,b) => a+b, 0) / n;\n  const npsScore = scores.reduce((sum, s) => sum + weights[s], 0);\n  const percentages = {};\n  for (let i = 1; i <= 7; i++) {\n    percentages[`pct_${i}`] = ((distribution[i] / n) * 100).toFixed(1);\n  }\n  return { count: n, mean: mean.toFixed(2), npsScore, ...percentages };\n}\n\n// Compute gap-level results\nconst gapResults = Object.values(gapScores).map(g => ({\n  ...g,\n  ...computeMetrics(g.scores, g.distribution),\n  scores: undefined, distribution: undefined\n})).sort((a, b) => a.npsScore - b.npsScore);\n\n// Compute factor-level results\nconst factorResults = Object.values(factorScores).map(f => ({\n  ...f,\n  ...computeMetrics(f.scores, f.distribution),\n  scores: undefined, distribution: undefined\n})).sort((a, b) => a.npsScore - b.npsScore);\n\n// Compute survey-level time series\nconst timeSeriesData = Object.values(surveyScores).map(s => ({\n  surveyId: s.surveyId,\n  gapId: s.gapId,\n  gapName: s.gapName,\n  mean: (s.scores.reduce((a,b) => a+b, 0) / s.scores.length).toFixed(2),\n  count: s.scores.length,\n  npsScore: s.scores.reduce((sum, sc) => sum + weights[sc], 0)\n}));\n\nreturn [\n  { json: { type: 'gap_rankings', data: gapResults } },\n  { json: { type: 'factor_summary', data: factorResults } },\n  { json: { type: 'time_series', data: timeSeriesData } }\n];"
      },
      "id": "compute-analytics",
      "name": "Compute Likert & NPS Analytics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 200]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.type }}",
              "rightValue": "gap_rankings",
              "operator": { "type": "string", "operation": "equals" }
            }
          ]
        }
      },
      "id": "route-analytics",
      "name": "Route Analytics Output",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1100, 200]
    },
    {
      "parameters": {
        "operation": "clear",
        "documentId": "={{ $env.ANALYTICS_SHEET_ID }}",
        "sheetName": "GapRankings"
      },
      "id": "clear-gap-rankings",
      "name": "Clear Previous Gap Rankings",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1350, 0]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "={{ $env.ANALYTICS_SHEET_ID }}",
        "sheetName": "GapRankings",
        "columns": {
          "mappingMode": "autoMapInputData"
        }
      },
      "id": "write-gap-rankings",
      "name": "Write Gap Rankings",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1600, 0]
    },
    {
      "parameters": {
        "operation": "clear",
        "documentId": "={{ $env.ANALYTICS_SHEET_ID }}",
        "sheetName": "FactorSummary"
      },
      "id": "clear-factor-summary",
      "name": "Clear Previous Factor Summary",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1350, 200]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "={{ $env.ANALYTICS_SHEET_ID }}",
        "sheetName": "FactorSummary",
        "columns": {
          "mappingMode": "autoMapInputData"
        }
      },
      "id": "write-factor-summary",
      "name": "Write Factor Summary",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1600, 200]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "={{ $env.ANALYTICS_SHEET_ID }}",
        "sheetName": "TimeSeries",
        "columns": {
          "mappingMode": "autoMapInputData"
        }
      },
      "id": "write-time-series",
      "name": "Append Time Series Data",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1350, 400]
    },
    {
      "parameters": {
        "jsCode": "const gapData = $('Compute Likert & NPS Analytics').all().find(i => i.json.type === 'gap_rankings');\nconst factorData = $('Compute Likert & NPS Analytics').all().find(i => i.json.type === 'factor_summary');\n\nconst gaps = gapData.json.data;\nconst factors = factorData.json.data;\n\n// Filter analysis by sub-working group\nconst enriched = $('Enrich Responses with Demographics').all();\nconst groups = [...new Set(enriched.map(e => e.json.sub_working_group))];\n\nconst groupAnalysis = {};\nfor (const group of groups) {\n  const groupData = enriched.filter(e => e.json.sub_working_group === group);\n  const gapAgg = {};\n  for (const item of groupData) {\n    const gapId = item.json.gapId;\n    if (!gapAgg[gapId]) gapAgg[gapId] = { scores: [] };\n    gapAgg[gapId].scores.push(Number(item.json.score));\n  }\n  groupAnalysis[group] = {\n    responseCount: groupData.length,\n    uniqueUsers: new Set(groupData.map(d => d.json.username)).size,\n    topGaps: Object.entries(gapAgg)\n      .map(([gapId, v]) => ({ gapId, mean: (v.scores.reduce((a,b)=>a+b,0)/v.scores.length).toFixed(2) }))\n      .sort((a,b) => Number(a.mean) - Number(b.mean))\n      .slice(0, 10)\n  };\n}\n\nreturn [{ json: { \n  type: 'dashboard_summary',\n  totalResponses: enriched.length,\n  uniqueRespondents: new Set(enriched.map(e => e.json.username)).size,\n  topCriticalGaps: gaps.slice(0, 10),\n  factorOverview: factors,\n  groupBreakdown: groupAnalysis,\n  generatedAt: new Date().toISOString()\n} }];"
      },
      "id": "build-dashboard-data",
      "name": "Build Dashboard Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1850, 200]
    },
    {
      "parameters": {
        "operation": "clear",
        "documentId": "={{ $env.ANALYTICS_SHEET_ID }}",
        "sheetName": "DashboardSummary"
      },
      "id": "clear-dashboard",
      "name": "Clear Dashboard Data",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [2100, 200]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "={{ $env.ANALYTICS_SHEET_ID }}",
        "sheetName": "DashboardSummary",
        "columns": {
          "mappingMode": "autoMapInputData"
        }
      },
      "id": "write-dashboard",
      "name": "Write Dashboard Data",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [2350, 200]
    }
  ],
  "connections": {
    "Daily Processing Trigger": { "main": [[{ "node": "Get All Survey Responses", "type": "main", "index": 0 }, { "node": "Get Demographics Data", "type": "main", "index": 0 }, { "node": "Get Gap Definitions", "type": "main", "index": 0 }]] },
    "Manual Trigger": { "main": [[{ "node": "Get All Survey Responses", "type": "main", "index": 0 }, { "node": "Get Demographics Data", "type": "main", "index": 0 }, { "node": "Get Gap Definitions", "type": "main", "index": 0 }]] },
    "Get All Survey Responses": { "main": [[{ "node": "Enrich Responses with Demographics", "type": "main", "index": 0 }]] },
    "Get Demographics Data": { "main": [[{ "node": "Enrich Responses with Demographics", "type": "main", "index": 0 }]] },
    "Get Gap Definitions": { "main": [[{ "node": "Enrich Responses with Demographics", "type": "main", "index": 0 }]] },
    "Enrich Responses with Demographics": { "main": [[{ "node": "Compute Likert & NPS Analytics", "type": "main", "index": 0 }]] },
    "Compute Likert & NPS Analytics": { "main": [[{ "node": "Route Analytics Output", "type": "main", "index": 0 }]] },
    "Route Analytics Output": { "main": [[{ "node": "Clear Previous Gap Rankings", "type": "main", "index": 0 }], [{ "node": "Clear Previous Factor Summary", "type": "main", "index": 0 }], [{ "node": "Append Time Series Data", "type": "main", "index": 0 }]] },
    "Clear Previous Gap Rankings": { "main": [[{ "node": "Write Gap Rankings", "type": "main", "index": 0 }]] },
    "Clear Previous Factor Summary": { "main": [[{ "node": "Write Factor Summary", "type": "main", "index": 0 }]] },
    "Write Gap Rankings": { "main": [[{ "node": "Build Dashboard Summary", "type": "main", "index": 0 }]] },
    "Write Factor Summary": { "main": [[{ "node": "Build Dashboard Summary", "type": "main", "index": 0 }]] },
    "Build Dashboard Summary": { "main": [[{ "node": "Clear Dashboard Data", "type": "main", "index": 0 }]] },
    "Clear Dashboard Data": { "main": [[{ "node": "Write Dashboard Data", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  }
}
